* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 1rem;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**** Forside*****/

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.category {
  text-align: center;
  text-decoration: none;
  background-color: rgb(205, 205, 205);
  padding: 1rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
}

/**** Produktliste ****/

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
}

.card {
  display: grid;
  grid-template-columns: subgrid;
  gap: 5px;
}

.Soldout {
  position: absolute;
  background-color: rgb(54, 53, 53);
  color: rgb(255, 255, 255);
  padding: 1rem;
  opacity: 90%;
}
.rabat {
  bottom: 15px;
  justify-self: end;
  background-color: rgb(242, 29, 29);
  padding: 0.2rem;
  margin-bottom: 4rem;
  color: rgb(52, 49, 49);
}

.trøjebilleder {
  opacity: 40%;
}
.Backpack {
  opacity: 40%;
}

/**** Produkt ****/
.produkt_container {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  gap: 10px;
  margin-top: 1rem;
}
.Nike {
  margin-top: -1.5rem;
}
.Sahara {
  background-color: rgb(202, 202, 202);
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sahara1 {
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.Tshirts {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
}

.Choose {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
}
.knap {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.choosegrid {
  display: flex;
  gap: 18px;
}
.triangle-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgb(0, 0, 0);
  margin-top: 0.45rem;
}
.smallknapgrid {
  display: flex;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.smallknap {
  font-size: 1.4rem;
}
/******* Menu ******/
.menugrid {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 1.3rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
}
li a {
  text-decoration: none;
}

.hide {
  display: none;
}
